name: GO_LINUX

on: [ push, pull_request ]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        go: [ '1.17', '1.19' ]
    name: Go ${{ matrix.go }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          path: 'taosadapter'
      - name: checkout TDengine
        uses: actions/checkout@v3
        with:
          repository: 'taosdata/TDengine'
          path: 'TDengine'
          ref: 'main'

      - name: install TDengine
        run: |
          cd TDengine
          mkdir debug
          cd debug
          cmake .. -DBUILD_HTTP=true -DBUILD_JDBC=false -DBUILD_TOOLS=false -DBUILD_TEST=off
          make -j 32
          sudo make install

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - uses: actions/cache@v3
        with:
          path: |
            ~/Library/Caches/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ matrix.go }}-${{ hashFiles('taosadapter/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.go }}-

      - name: shell
        run: |
          cat >start.sh<<EOF
          ulimit -n 65535 && TAOS_SUPPORT_VNODES=256 taosd
          EOF

      - name: taosd
        run: nohup sudo sh ./start.sh &

      - name: build taosadapter
        run: cd ./taosadapter && go build

      - name: Test
        run: cd ./taosadapter && go test -v --count=1 ./...
